**Minimum, maximum, átlag, eloszlások értékei**

In [8]:
SELECT MIN(LISTAAR) AS min_ertek, 
       MAX(LISTAAR) AS max_ertek, 
       AVG(LISTAAR) AS atlag_ertek, 
       STDEV(LISTAAR) AS normal_eloszlas,
       VAR(LISTAAR) AS eloszlas
FROM Termek
WHERE LISTAAR IS NOT NULL

min_ertek,max_ertek,atlag_ertek,normal_eloszlas,eloszlas
0,46000,786.2813067150635,3602.4811630060694,12977870.529813562

**Null értékek és a nem üres értékek közötti arány**

In [23]:
SELECT sor_ertek,
    COUNT(sor_ertek) AS sor_szam
FROM (SELECT
    CASE
        WHEN SZALL_CIM IS NULL THEN 'Null'
        ELSE 'Nem_üres'
    END AS sor_ertek
    FROM Rendeles) ROWS
GROUP BY sor_ertek

sor_ertek,sor_szam
Null,21689
Nem_üres,6396

**Egyedi értékek számának feltárása**

In [32]:
SELECT COUNT(DISTINCT [LOGIN]) AS egyedi_ertekek_szama
FROM Rendeles
WHERE [LOGIN] IS NOT NULL

egyedi_ertekek_szama
191

**10 db random oszlop érték**

In [36]:
SELECT TOP (10) REND_DATUM
FROM Rendeles
GROUP BY REND_DATUM
ORDER BY NEWID()

REND_DATUM
2015-09-25
2015-10-07
2015-10-14
2015-12-29
2015-10-20
2016-12-21
2016-05-19
2015-06-17
2016-02-29
2015-06-03