In [1]:
--1. feladat

Select TIPUS,
ROUND(AVG(CSILLAGOK_SZAMA), 0)
from szallashely
WHERE TIPUS <> 'panzió'
and CSILLAGOK_SZAMA > 3
GROUP BY TIPUS

TIPUS,(No column name)
Hotel,4

In [9]:
--2. feladat

select
case 
    when year(Vendeg.SZUL_DAT) >= 1985 THEN 'fiatal'
    when year(Vendeg.SZUL_DAT) < 1970 THEN 'idős'
    when year(Vendeg.SZUL_DAT) < 1985 and year(Vendeg.SZUL_DAT) >= 1970 then 'középkorú'
end as 'Kategória',
COUNT(Foglalas.UGYFEL_FK) as 'Foglalás szám'
from Vendeg
JOIN Foglalas
ON Foglalas.UGYFEL_FK = Vendeg.USERNEV
WHERE Foglalas.GYERMEK_SZAM + Foglalas.FELNOTT_SZAM >= 2
GROUP BY case 
    when year(Vendeg.SZUL_DAT) >= 1985 THEN 'fiatal'
    when year(Vendeg.SZUL_DAT) < 1970 THEN 'idős'
    when year(Vendeg.SZUL_DAT) < 1985 and year(Vendeg.SZUL_DAT) >= 1970 then 'középkorú'
end

Kategória,Foglalás szám
fiatal,365
idős,96
középkorú,419